body
  font-family: 'Proxima Nova Rg';
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display none

.header
  height 53px
  width 100%
  background-image url(/images/footer.png)
  background-repeat no-repeat
  background-size cover
  background-position center center

.header__menu
  height 120px
  width 100%
  background #fff

.header__banner
  height 854px
  width 100%

.header__banner__slide__container
  height 890px
  width 100%

.header__banner__slide__img
  position absolute
  width 100%

.header__container
  display flex

.header__first
  height 53px
  display flex
  align-items: center;
  width 50%

.header__first>a
  font-family: 'Proxima Nova Rg';
  color #fff
  font-size 14px

.header__first>a:hover, .header__first>a:focus
  text-decoration none

.header__first>a:last-child
  margin-left 60px

.search__row
  margin-top: 30px;
  margin-bottom 30px

.footer__row__second__col__search__results
  margin-left: 20px;

.footer__row__second__col__search__results>a
  color #000
  font-size 16px


.header__last__form__search
  width: 224px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #a19f9f;
  padding-left: 5px;
  font-weight: 500;
  font-size 14px
  color #fff

.header__last__form__search:-internal-autofill-selected
  background none !important;

.header__last__form__search::placeholder
  color #a19f9f
  font-weight: 600;

.header__last
  display flex
  align-items center
  width 50%
  justify-content: flex-end;

.social__header
  margin-left 60px

.social__header>a
  margin-left 13px

.header__menu__container
  display flex
  height 100%

.menu
  margin-left 50px

.menu__ul
  margin 0
  padding 0
  display flex
  height: 100%;
  align-items: center;
  width 590px
  justify-content: space-between;

.menu__li
  list-style none

.menu__li__a
  font-size 18px
  font-weight 700
  color #000
  padding: 10px 20px;
  transition: 200ms ease all;

.menu__li__a:hover, .menu__li__a:focus
  color #fff
  background #391b00
  text-decoration none
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

.request__call
  display: flex;
  align-items: center;
  width: 212px;
  justify-content: flex-end;

.request__call__link
  width 190px
  height 45px
  background #95c41f
  font-size 18px
  font-weight 700
  color #fff
  transition: 200ms ease all;
  display: flex;
  justify-content: center;
  align-items: center;

.request__call__link:hover, .request__call__link:focus
  color #95c41f
  background #fff
  box-shadow: 0 0 10px rgba(149,196,31,0.7);
  text-decoration none

.header__banner__content__container
  height: 100%;
  display: flex;
  align-items: center;

.header__banner__content__container__row
  display flex
  align-items center

.header__banner__content__title
  font-size 60px
  color #fff
  font-weight bold

.header__banner__content__description
  color #fff
  font-size 16px
  margin-top 30px

.header__banner__content__link
  color #fff
  border 1px solid #fff
  padding 7px 25px
  font-size 16px
  margin-top 30px
  font-weight 500
  transition: 200ms ease all;

.header__banner__content__link:hover, .header__banner__content__link:focus
  color #391b00
  background #fff
  box-shadow: 0 0 5px rgba(255,255,255,0.5);
  text-decoration none
  font-weight 500

.header__banner__content__row
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

.header__banner__form
  height 555px
  width 381px
  background-image url(/images/form.png)
  background-repeat no-repeat
  background-size cover
  background-position top
  box-shadow: 0 0 5px rgba(0,0,0,0.3);

.header__banner__form__row
  display: flex;
  justify-content: flex-end;

.header__banner__form__content
  display flex
  flex-direction column
  align-items: baseline;
  padding 20px

.header__banner__form__content__title
  color #fff
  font-weight 600
  font-size 36px
  font-family: 'Proxima Nova Lt';
  margin-left 3px
  margin-bottom 35px

.header__banner__form__content__input
  width 318px
  height 38px
  margin-bottom 38px
  outline none
  border 1px solid #fff
  background none
  color #fff
  padding-left 13px
  font-size 14px

.header__banner__form__content__input::placeholder
  color #fffc
  font-size 14px

.header__banner__form__content__submit
  color #fff
  width 190px
  height 45px
  font-size 18px
  background #95c41f
  outline none
  border none

.header__banner__form__content__description
  color #fff
  font-size 10px
  margin-top 39px
  margin-left 5px
  margin-right 5px

.company
  width 100%
  height 564px
  background #fff

.company__col
  display flex
  align-items center
  justify-content center
  height 100%
  flex-direction column

.company__col:last-child
  padding-left 60px

.company__container, .company__row
  height 100%

.company__col__title
  text-align: left;
  width: 100%;
  font-size 30px
  color #000
  margin-bottom 30px
  font-family: 'Proxima Nova Th';
  font-weight: 800;

.company__col__content
  font-size 14px
  color #000
  font-weight 600
  line-height: 22px;

.primer
  height 745px
  width 100%
  background #fafafa

.primer__container__row
  display flex
  flex-direction column
  justify-content center
  align-items center
  margin-top 91px

.primer__container__row__title
  font-size 30px
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  color #000
  margin-bottom 30px

.primer__container__row__description
  width 695px
  color #000
  font-size 14px
  font-weight 600
  text-align center
  line-height 16px

.primer__slide
  margin-top 40px

.primer__slide__item
  width 100%
  height 371px
  background #fff
  margin-right 28px

.slick-slide
  margin: 0 10px;

.slick-list
  margin: 0 -27px;

.primer__slide__link:hover, .primer__slide__link:focus
  text-decoration none
  border none
  outline none

.slick-dots
  display flex
  flex-wrap wrap
  justify-content center
  margin-top 30px
  align-items: center;
  padding-left 0

.slick-dots>.slick-active[role="presentation"]
  width: 17px;
  height: 17px;
  background: #95c41f;
  border-radius: 50%;
  color: #fff0;

.slick-dots>li[role="presentation"]
  list-style none
  background none
  border none
  background: #bababa;
  border-radius: 50%;
  color: #fff0;
  width: 12px;
  height: 12px;
  margin-right: 10px;

.slick-dots>li>button
  background: #fff0;
  border none
  outline none

.primer__slide__item__description
  width 100%
  height 89px
  background-image url(/images/primer.png)
  background-repeat no-repeat
  background-size cover
  background-position top
  padding: 25px 10px 20px 20px;
  display flex
  justify-content: space-between;

.primer__slide__item__description__content__title
  color #fff
  font-size 18px
  font-weight bold
  margin-top 0
  margin-bottom 5px

.primer__slide__item__description__content__adres
  font-size 14px
  font-weight 600
  color #898989

.primer__slide__item__description__price__title
  color #95c41f
  font-size 24px
  font-weight bold
  margin-top 0

.primer__slide__item__foto
  width 100%
  height 291px
  background-repeat no-repeat
  background-size cover
  background-position center

.central__banner
  width 100%
  height 245px
  background-image url(/images/footerimage.png)
  background-repeat no-repeat
  background-size cover
  background-position center center
  background-attachment fixed

.central__banner__title
  font-size 48px
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  color #fff
  text-align center
  line-height 65px
  margin 0

.central__banner__container
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

.index__services
  width 100%
  background #fff

.index__services__row
  display flex
  flex-direction column
  align-items center
  margin-top 60px

.company__col__img
  width 100%

.index__services__item
  width 371px
  height 371px
  background #fcfcfc
  margin-bottom 38px

.index__services__item__link:hover, .index__services__item__link:focus
  text-decoration none


.index__services__row__items
  margin-top 50px
  margin-bottom: 70px;

.central__banner__last__container
  display: flex;
  width: 100%;
  justify-content: space-between;

.central__banner__last__container__icon
  display: flex;
  align-items: center;
  justify-content: center;

.central__banner__last__container__icon__number
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  font-size 36px
  color #fff
  margin-bottom 0
  margin-left 20px

.central__banner__last__container__descript__text
  font-size 18px
  color #fff
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  text-align center

.clients__row__title
  display flex
  align-items: center;
  flex-direction column
  margin-top 80px

.clients__row
  margin-top: 30px;
  margin-bottom: 100px;

.clients__col
  width 381px
  background #fff

.clients__col__foto
  width 381px
  display flex
  align-items center
  justify-content center
  height 200px

.clients__col__foto__image
  width 100px
  height 100px
  border-radius 50%
  background #c2c2c2
  background-repeat no-repeat
  background-size cover
  background-position top

.clients__col__context
  width 100%

.clients__col__context__text
  text-align center
  font-size 14px
  color #000
  line-height 18px
  font-weight 600
  padding 0 30px

.clients__col__context__text__name
  text-align center
  font-size 16px
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  color #000
  margin-top 24px

.partners
  width 100%
  height 200px
  background #fafafa
  padding 60px 130px 0px

.partners__link
  border none

.partners__link:hover, .partners__link:focus
  border none
  outline none

.footer
  width 100%
  background-image url(/images/footerimage.png)
  background-repeat no-repeat
  background-size cover
  background-position center center
  background-attachment: fixed;

.footer__row__first
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom 1px solid #ecc37c
  display flex
  align-items: center;

.footer__row__first__col__text
  font-size 14px
  color #f7d49c

.footer__row__second
  height 327px
  margin-top 55px
  display flex
  justify-content: space-between;

.footer__row__second__col
  display flex
  flex-direction column

.footer__row__second__col__title
  font-weight: bold;
  color #fff
  font-size 24px
  margin-bottom 30px

.footer__row__second__col__description
  color #fff
  font-size 16px
  line-height 17px
  width 80%

.footer__row__second__col__form
  margin-top 20px

.footer__row__second__col__form__input
  width 262px
  height 43px
  background none
  border 1px solid #fff
  padding-left 10px
  outline none
  color #fff
  font-size 16px

.footer__row__second__col__form__input::placeholder
  color #fff
  font-size 16px

.footer__row__second__col__form__submit
  background-image url(/images/submit.png)
  background-repeat no-repeat
  background-size cover
  background-position top
  width 14px
  height 14px
  background-color #fff0
  border none
  outline none
  position: absolute;
  right: 322px;
  margin-top: 15px;

.footer__row__second__col__description__news
  font-size 14px
  color #fff
  line-height 17px

.footer__row__second__col__description__news:hover, .footer__row__second__col__description__news:focus
  color #fff
  text-decoration none

.footer__row__second__col__ul
  margin: 0 0 0 1px;
  padding 0

.footer__row__second__col__ul__li
  list-style none
  margin-bottom 23px

.footer__row__second__col__ul__li:last-child
  margin-bottom 0

.footer__row__second__col__ul__li__a
  color #fff
  font-size 14px
  margin-bottom 30px

.footer__row__second__col__ul__li__a:hover, .footer__row__second__col__ul__li__a:focus
  color #fff

.contact__description__footer
  display flex
  align-items center

.contact__description__footer__text
  color #fff
  font-size 14px
  margin-bottom 0

.contact__description__footer__link
  color #fff
  font-size 14px
  margin-left 5px

.contact__description__footer__link:hover, .contact__description__footer__link:focus
  color #fff

.contact__adres
  margin-bottom 30px

.email__contact__footer
  font-size 14px
  color #fff
  margin-top 30px

.email__contact__footer:hover, .email__contact__footer:focus
  color #fff

.footer__social
  margin-top 10px
  width: 80px;
  display: flex;
  justify-content: flex-start;

.footer__social__link
  margin-right 20px

.footer__row__second__col:nth-child(3)
  padding-left: 90px;

.footer__row__second__col:nth-child(2)
  padding-left 30px

.footer__row__last
  width 100%
  border-top 1px solid #fff
  height: 50px;
  display flex

.footer__row__last__container
  display flex
  align-items center
  justify-content space-between
  width: 100%;

.footer__row__last__container__copy
  font-size 14px
  margin 0
  color #ffffff7a

.footer__row__last__container__copy:last-child
  text-align right

.footer__row__last__container__copy>a
  color #fed005

.company__page
  width 100%
  height 320px
  background-image url(/images/mycompany2.png)
  background-repeat no-repeat
  background-size cover
  background-position bottom center
  background-attachment: fixed;
  display flex

.company__page__container
  display flex
  align-items center
  justify-content center

.company__page__container>h1, .company__page__container>h2
  color #fff
  font-size 36px
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  margin-left -30px

.company__page__container>h1>a
  color #fff
  text-decoration none

.company__page__container>h1>a:hover, .company__page__container>h1>a:focus
  text-decoration none
  color #fff

.work__row__title__h2
  color #000
  font-size 30px
  font-family: 'Proxima Nova Th';
  font-weight: 800;

.work__row__title__text
  color #5f5f5f
  font-size 16px
  line-height 21px
  font-family: 'Proxima Nova Lt';
  font-weight: 600;

.work__container
  margin-top 130px
  margin-bottom 120px

.work__row__content__col
  width 250px
  padding-bottom: 20px;

.work__row__content
  margin-top 30px
  display: flex;
  flex-wrap: wrap;

.work__row__content__col__title
  font-size 18px
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  color #000

.work__row__content__col__title>a
  color #000
  transition all 300ms ease

.work__row__content__col__title>a:hover, .work__row__content__col__title>a:focus, .work__row__content__col__title>a:active
  color #5a3622
  text-decoration none

.work__row__content__col__text
  color #5f5f5f
  font-size 16px
  line-height 16px
  width 210px
  font-family: 'Proxima Nova Lt';
  font-weight: 600;

.work__row__image__foto
  width 100%

.work__row__image
  display: flex;
  align-items: center;

.work__row
  display flex

.our__specialists
  width 100%
  background #fafafa

.our__specialists__row
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top 110px

.our__specialists__col
  width 278px
  display flex
  flex-direction column

.our__specialists__col__foto
  height 450px
  background-repeat no-repeat
  background-size cover
  background-position bottom

.our__specialists__col__foto__link:focus
  outline none

.our__specialists__col__text
  width 100%
  background #95c41f

.our__specialists__col__title
  color #fff
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  font-size 18px
  text-align center
  padding 0 15px
  margin-bottom 5px
  margin-top 15px

.our__specialists__col__text__specialization
  color #fff
  text-align center
  padding 0 15px
  font-size 16px
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  margin-top 0
  margin-bottom 15px

.our__specialists__row__container
  margin-bottom 60px
  margin-top 65px

.price
  width 100%
  background #fff
  display flex

.price__title
  font-size 30px
  color #000
  font-family: 'Proxima Nova Th';
  font-weight: 800;

.price__title__text
  color #5f5f5f
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  font-size 16px
  line-height 16px
  width 80%

.price__row
  padding: 100px 0 80px 0;

.table__price>table
  width 100%
  margin-top 40px

.table__number
  width 62px
  font-size 18px
  color #000
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  padding: 10px;

.table__view
  width 870px
  font-size 18px
  color #000
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  padding: 10px;

.table__ed
  width 182px
  font-size 18px
  color #000
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  padding: 10px;

.table__price__title
  width 83px
  font-size 18px
  color #000
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  padding: 10px;

.table__price>table>tbody>tr:nth-child(2n+2)
  background #fafafa

.table__price__description
  color #5f5f5f
  font-size 14px
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  margin-top 40px

.our__works__container
  display flex
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 50px;

.our__works__row
  display flex
  flex-direction column
  justify-content center
  align-items center
  width: 100%;

.our__works__row__items
  display: flex;
  flex-wrap: wrap;
  margin-top 30px

.our__works__row__item
  width 365px
  height 300px
  background-repeat no-repeat
  background-size cover
  background-position center
  display flex
  margin-right 15px
  margin-bottom 15px

.our__works__row__item:nth-child(3n+3)
  margin-right 0

.our__works__row__item__description
  background #00000085
  display flex
  align-items center
  justify-content center
  flex-direction column
  padding 20px
  opacity 0
  cursor pointer
  transition: 300ms linear all;
  width 100%

.our__works__row__item__description:hover
  opacity 1

.our__works__row__item__description__title
  font-size 24px
  color #fff
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  text-align center

.our__works__row__item__description__text
  font-size 16px
  color #fff
  line-height 20px
  text-align center
  margin-top: 15px;

.our__works__row__items__link:hover, .our__works__row__items__link:focus
  text-decoration none
  color #fff

.post__content
  color #000
  margin-top 50px

.post__h1
  color #000
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  font-size 30px
  margin-top 0

.post__container
  margin-top 65px
  margin-bottom 50px

.post__image
  width 100%

.other__post__image__item
  width 170px
  height 190px
  background-repeat no-repeat
  background-size cover
  background-position bottom


.other__post__image>a
  margin-right: 15px;
  margin-bottom 15px

.other__post__image>a:nth-child(2n+2)
  margin-right 0

.other__post__image
  display: flex;
  flex-wrap: wrap;
  height: 1430px;
  overflow: auto;
  margin-bottom: 20px;

.other__post__image::-webkit-scrollbar
	-webkit-appearance: none;
	width: 5px;

.other__post__image::-webkit-scrollbar-thumb
	border-radius: 2px;
	background-color: rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);

.other__post__information
  display flex
  flex-direction column

.other__post__information__title
  color #000
  font-size 20px
  font-family: 'Proxima Nova Rg';
  font-weight: bold;

.other__post__information__title__line
  border-top 3px solid #95c41f
  width 50px
  margin-bottom 20px

.other__post__information__link
  color #fff
  background #95c41f
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  font-size 20px
  padding 15px 60px
  transition: 200ms linear all;
  width: 100%;
  text-align: center;

.other__post__information__link:hover, .other__post__information__link:focus
  color #95c41f
  background #fff
  box-shadow: 0 0 10px rgba(149,196,31,0.7);
  text-decoration none

.contact__col
  display flex
  justify-content center
  flex-direction column
  align-items center

.contact__form
  width 794px
  margin-top 50px
  margin-bottom 50px

.form-control
  border-radius 0
  background #fbfbfb
  padding-left 15px
  color #000
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  height 33px

.form-control::placeholder
  font-size 14px
  color #4c4c4c
  font-family: 'Proxima Nova Lt';
  font-weight: 600;

.form-control:focus
  border-color: #492614;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(73,38,20,0.7);

.contact__form__submit
  font-size 16px
  color #fff
  background #95c41f
  padding 14px 27px
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  border none
  outline none
  transition: 200ms linear all;

.contact__form__submit:hover, .contact__form__submit:focus
  color #95c41f
  background #fff
  box-shadow: 0 0 15px rgba(149,196,31,0.7);

.form-actions
  text-align center
  margin-top 25px

.contact__col__cart
  width 100%
  height 490px
  margin-top 100px

.contact__col__banner
  width 100%
  display flex
  justify-content center
  margin-top -60px
  z-index 0

.contact__col__banner__inner
  width 90%
  height 150px
  background #fff
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 0;

.contact__form__title
  text-align center
  color #000
  font-size 22px
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  margin-bottom 40px

.contact__col__banner__inner__col
  width 33.3%
  display: flex;
  align-items: center;
  justify-content: flex-end;

.contact__col__banner__inner__col__text>p
  margin-bottom 0
  margin-left 10px
  font-size 18px
  color #000
  width: 250px;

.enquirySubmitted
  font-size 30px
  margin 50px 0
  color #000
  font-family: 'Proxima Nova Rg';
  font-weight: bold;

.header__menu__mobile, .header__menu__mobile__list
  display none

.carousel-indicators>li
  background-color #bababa
  border: none;

.carousel-indicators .active
  background-color #95c41f

.carousel-control.right, .left.carousel-control
  background-image none

.partners__img
  height 80px

.clients__col:focus, .slick-slide:focus, .slick-current:focus, .slick-active:focus
  outline none

.menu__ul__price__footer
  height: 170px;
  overflow: auto;

.menu__ul__price__footer::-webkit-scrollbar
	-webkit-appearance: none;
	width: 5px;

.menu__ul__price__footer::-webkit-scrollbar-thumb
	border-radius: 2px;
	background-color: rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);

.menu__ul__price
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 5px;
  position: absolute;
  width: 250px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  z-index: 9999999999999;
  opacity 0
  visibility hidden
  transition: 50ms linear all;

.menu__ul__price__li
  list-style: none;
  padding: 15px 20px 2px;

.menu__ul__price__li__link
  color #000
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  transition: 200ms linear all;

.menu__ul__price__li__link:hover, .menu__ul__price__li__link:focus
  text-decoration none
  color #391b00
  text-shadow: 2px 1px 5px rgba(206, 143, 86, 0.678)

.menu__li:hover .menu__ul__price
  opacity 1
  visibility visible
  z-index: 9999999999999;

.footer__row__second__col__ul__li:hover .menu__ul__price
  opacity 1
  visibility visible
  z-index: 9999999999999;

.footer__row__second__col__ul__li__a__prevent>span
  font-size 12px
  margin-left 5px

.reclam__container
  margin-top 30px

.reclam__row__img
  width 100%

.reclam__row__container
  width 100%
  height 155px
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

.reclam__row__container__text
  font-size: 40px;
  color: #fff;
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  padding 10px 30px
  text-align center
  margin 0

.reclam__row__container__link:hover, .reclam__row__container__link:focus
  text-decoration none
  color #fff

table {
  border: 1px solid #ccc;
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border: 1px solid #ddd;
  padding: 5px;
}

table th, table td {
  padding: 10px;
  text-align: left;
  font-family: 'Proxima Nova Th';
  font-weight: 800;
}

table th {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
}

.transform
  transform: rotate(180deg);

.header__menu__mobile__list__li__a > span
  transition: 300ms linear all;

.menu__ul__price__li__mobile__fade
  display none

@media screen and (max-width: 1200px)
  .header, .header__menu, .header__banner, .contact__col__banner__inner
    display none

  .other__post__image
    justify-content: space-around;


  .footer__row__second__col__description
    width 100%

  .our__works__row__item
    width auto

  .other__post__image__item
    width 155px

  .header__banner__form, .header__banner__form__content__input, .header__banner__form__content__submit
    width 100%

  .price__title
    text-align center

  .price__title__text
    width 100%
    text-align center
    margin-top 30px

  .contact__form
    width 100%
    margin-top: 100px;

  .table__view, .table__number, .table__ed, .table__price__title
    font-size 14px

  table
    border: 0;


  table thead
    display: none;

  table tr
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;


  table td
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;


  table td:last-child
    border-bottom: 0;


  table td:before
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    color #a5a5a5

  .footer__row__second__col__form__submit
    right 32px
    width 14px
    height 14px

  .our__works__row__items
    flex-direction column

  .our__works__container
    align-items: center;
    justify-content: center;

  .our__works__row__item
    margin-right 0

  .menu__ul__price__mobile, .menu__ul__service__mobile
    padding: 0 0 30px 0;
    margin: 0;
    height: auto;
    width: 200px;
    display none

  .gl__mobile__phone
    display: flex;
    justify-content: center;
    margin-top: 10px;

  .gl__mobile__phone>a
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
    font-weight 700

  .gl__mobile__phone>a:active, .gl__mobile__phone>a:focus, .gl__mobile__phone>a:hover
    text-decoration none
    color #ebc27a

  .gl__mobile__phone>a>span
    margin-right 5px

  .gl__mobile__seti
    display: flex;
    justify-content: center;
    padding: 5px 0 15px;

  .reclam
    display none

  .price__container
    width 100%

  .other__post__image>a
    margin-right 0

  .price__row
    margin-left 0px
    margin-right 0px
    padding: 20px 0 50px 0;

  .other__post__information
    display: flex;
    flex-direction: column;

  .other__post__information__link
    text-align center

  .menu__ul__price__li__mobile
    list-style: none;

  .menu__ul__price__li__link__mobile
    text-align: center;
    color: #fde8c2;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 15px;

  .menu__ul__price__li__link__mobile:hover
    color #fde8c2
    text-decoration none

  .header__menu__mobile__item__logo
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 5px 20px;

  .header__menu__mobile
    display flex
    width 100%
    background-image url(/images/footerimage.png)
    background-repeat no-repeat
    background-size cover
    background-position top
    justify-content: space-between;
    flex-direction: column;

  .work__row__content__col__text
    text-align center

  .header__menu__mobile__logo
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
    margin-left 10px

  .header__menu__mobile__logo>a>img
    width 100%

  .header__menu__mobile__item
    display flex
    align-items center
    margin-right 10px

  .header__menu__mobile__list
    width 100%
    display: none;

  .header__menu__mobile__list__ul
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

  .header__menu__mobile__list__li
    list-style none
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

  .header__menu__mobile__list__li__a
    color: #ebc27a;
    font-size: 16px;
    padding: 10px;
    display flex
    align-items center

  .header__menu__mobile__list__li__a>span
    margin-left 7px
    font-size: 14px;
    margin-bottom: 5px;

  .header__menu__mobile__list__li__a:hover, .header__menu__mobile__list__li__a:focus
    color: #fff;
    font-size: 16px;
    text-decoration none

  .header__menu__mobile__item__link
    color: #fff;
    font-size: 18px;

  .header__menu__mobile__item__link:hover, .header__menu__mobile__item__link:focus
    color #fff

  .company__col__img
    width 100%

  .company__col
    height auto
    margin-top: 30px;

  .company__col:last-child
    padding-left 15px

  .company
    height auto
    margin-bottom 30px

  .primer
    height auto
    padding-bottom: 60px;

  .primer__container__row
    margin-top 20px

  .primer__container__row__title
    text-align center
    padding 0 10px

  .primer__container__row__description
    width auto
    padding 0 15px 0 15px

  .primer__slide__item
    margin-right 0

  .primer__slide
    padding 0 15px

  .primer__slide__item__description
    padding: 10px;
    align-items: flex-start;
    padding-top: 30px;

  .primer__slide__item__description__price__title
    font-size 16px
    margin-bottom 0

  .primer__slide__item__description__content__title
    margin-bottom 0
    font-size 16px

  .primer__slide__item__description__content__adres
    margin-bottom 0
    font-size 14px

  .primer__slide__item__foto
    height 270px

  .slick-dots
    height 60px

  .central__banner__title
    font-size 22px
    line-height: 25px;
    padding: 25px 0;

  .central__banner
    height auto
    margin-bottom: 60px;

  .index__services__item
    margin-right 0
    width 100%

  .central__banner__last__container
    flex-direction column
    padding: 30px;
    justify-content: center;
    align-items: center;

  .central__banner__last__container__item
    padding-bottom 50px

  .central__banner__last__container__item:last-child
    padding-bottom 0

  .index__services__row__items
    padding 15px

  .clients__col
    width 100%

  .clients__col__foto
    width 100%

  .clients__row__title
    margin-top 30px

  .partners
    height auto
    flex-direction column
    padding-top 30px
    padding-bottom 30px

  .footer
    display flex
    flex-direction column
    height auto

  .footer__container
    display: flex;
    flex-direction: column;
    width: 100%;

  .footer__row__first
    height auto
    flex-direction column
    padding: 50px 0;

  .footer__row__second
    flex-direction column
    height auto
    padding-bottom: 30px;

  .footer__row__second__col
    padding-bottom 30px

  .footer__row__second__col:nth-child(2)
    padding-left 15px

  .footer__row__second__col:nth-child(3)
    padding-left 15px

  .footer__row__last
    height auto
    padding: 10px;

  .footer__row__last__container
    flex-direction column

  .footer__row__last__container__copy
    width 100%
    text-align center

  .footer__row__last__container__copy:last-child
    text-align center

  .footer__row__second__col__form__input
    width 100%

  .footer__row__first__col__text
    margin-top 30px

  .footer__row__first__col>img
    width 100%

  .company__page
    height 120px

  .company__page__container>h1,.company__page__container>h2
    margin 0

  .our__specialists__row__container
    flex-direction column

  .work__row__image
    display none

  .work__row__title
    display: flex;
    flex-direction: column;
    align-items: center;

  .work__container
    margin-top 30px
    margin-bottom 30px

  .work__row__title__h2
    margin-bottom 30px

  .work__row__content
    justify-content center

  .work__row__content__col
    display: flex;
    flex-direction: column;
    align-items: center;

  .our__specialists__col
    width 100%
    margin-bottom 10px

  .our__specialists__col__foto
    width 100%
    height 550px

  .slick-slide
    margin: 0 10px;

  .slick-list
    margin: 0 -10px;

  #carousel-example-generic
    display none

  .partners
    padding 15px

@media screen and (max-width: 1750px)
  .header__banner__content__container__row
    align-items: flex-start;

  .header__banner__content__container
    align-items: flex-start;

  .header__banner__form__container
    display none

  .header__banner
    height auto

  .header__banner__slide__container
    height auto

  .header__banner__content__row
    padding 50px 0
